node-red-flow.json
[
    {
        "id": "87ee4cd0.7811b",
        "type": "http in",
        "z": "eb914b58.146eb8",
        "name": "claims",
        "url": "/insurance/claims",
        "method": "get",
        "swaggerDoc": "",
        "x": 82.5,
        "y": 36.00000762939453,
        "wires": [
            [
                "429601d8.bd6a"
            ]
        ]
    },
    {
        "id": "429601d8.bd6a",
        "type": "node-red-contrib-httpauth",
        "z": "eb914b58.146eb8",
        "name": "",
        "file": "",
        "cred": "",
        "authType": "Basic",
        "realm": "",
        "username": "admin",
        "password": "admin",
        "hashed": false,
        "x": 237.5,
        "y": 36.35938262939453,
        "wires": [
            [
                "3a33be58.c5cc42"
            ]
        ]
    },
    {
        "id": "3a33be58.c5cc42",
        "type": "http request",
        "z": "eb914b58.146eb8",
        "name": "cloudant",
        "method": "GET",
        "ret": "obj",
        "url": "https://3eebbd56-fe8b-4000-85e8-d292425f4fab-bluemix.cloudant.com/claims/_design/claimsPaid/_view/claim-reason?limit=100&reduce=true&group=true",
        "x": 398.5,
        "y": 35.35938262939453,
        "wires": [
            [
                "30e7744d.cf188c"
            ]
        ]
    },
    {
        "id": "30e7744d.cf188c",
        "type": "function",
        "z": "eb914b58.146eb8",
        "name": "decorate",
        "func": "msg.headers = {\"Content-Type\" : \"application/json\"};\n\n    var rows = msg.payload.rows;\n    var index;\n    var claims = [];\n\n\n    for (index = 0; index < rows.length; ++index) {\n        var item = rows[index];\n        var claim = {};\n        claim.claimType = item.key[0];\n        claim.state = item.key[1];\n        claim.coverageType = item.key[2];\n        claim.numberOfClaims = item.value[0];\n        claim.totalClaimsAmount = item.value[1].toFixed(2);\n        claims.push(claim);\n    }\n\n    msg.payload = claims;\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 557.5155639648438,
        "y": 34.35938262939453,
        "wires": [
            [
                "17c3df4e.e83c21"
            ]
        ]
    },
    {
        "id": "17c3df4e.e83c21",
        "type": "http response",
        "z": "eb914b58.146eb8",
        "name": "",
        "x": 709.5156402587891,
        "y": 35.35938262939453,
        "wires": []
    },
    {
        "id": "346516f.fcb9aea",
        "type": "http in",
        "z": "eb914b58.146eb8",
        "name": "policy",
        "url": "/insurance/policy",
        "method": "get",
        "swaggerDoc": "",
        "x": 85.5,
        "y": 106,
        "wires": [
            [
                "82044100.7dfbc"
            ]
        ]
    },
    {
        "id": "82044100.7dfbc",
        "type": "node-red-contrib-httpauth",
        "z": "eb914b58.146eb8",
        "name": "",
        "file": "",
        "cred": "",
        "authType": "Basic",
        "realm": "",
        "username": "admin",
        "password": "admin",
        "hashed": false,
        "x": 237.5,
        "y": 107,
        "wires": [
            [
                "f39a00be.0c66"
            ]
        ]
    },
    {
        "id": "f39a00be.0c66",
        "type": "function",
        "z": "eb914b58.146eb8",
        "name": "policy id",
        "func": "var customer = msg.req.query.customer;\nmsg.language = msg.req.query.language;\nmsg.payload = customer;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390.5,
        "y": 106,
        "wires": [
            [
                "a6f27312.590d9"
            ]
        ]
    },
    {
        "id": "a6f27312.590d9",
        "type": "cloudant in",
        "z": "eb914b58.146eb8",
        "name": "policy search",
        "cloudant": "",
        "database": "claims",
        "service": "AtkinRed-cloudantNoSQLDB",
        "search": "_idx_",
        "design": "policies",
        "index": "policySearch",
        "x": 573.5,
        "y": 105,
        "wires": [
            [
                "787f1f.ff8780e"
            ]
        ]
    },
    {
        "id": "a6db4c3e.5924b",
        "type": "http response",
        "z": "eb914b58.146eb8",
        "name": "",
        "x": 805.5,
        "y": 224,
        "wires": []
    },
    {
        "id": "787f1f.ff8780e",
        "type": "function",
        "z": "eb914b58.146eb8",
        "name": "extract policy",
        "func": "// extract out the object from the array\nmsg.payload = msg.payload[0];\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 754.5,
        "y": 104,
        "wires": [
            [
                "e40bdbf8.1bf428"
            ]
        ]
    },
    {
        "id": "e40bdbf8.1bf428",
        "type": "openwhisk-action",
        "z": "eb914b58.146eb8",
        "name": "offer",
        "namespace": "atkin@us.ibm.com_dev",
        "action": "offer",
        "service": "b68b3eb8.4974c",
        "x": 908.5,
        "y": 107,
        "wires": [
            [
                "a6db4c3e.5924b"
            ]
        ]
    },
    {
        "id": "b68b3eb8.4974c",
        "type": "openwhisk-service",
        "z": "eb914b58.146eb8",
        "name": "Bluemix",
        "api": "https://openwhisk.ng.bluemix.net/api/v1"
    }
]