node_red_flows/node-red-flow.json
[{
    "id": "87ee4cd0.7811b",
    "type": "http in",
    "z": "eb914b58.146eb8",
    "name": "GET claims",
    "url": "/insurance/claims",
    "method": "get",
    "swaggerDoc": "",
    "x": 97.5,
    "y": 41,
    "wires": [
        ["429601d8.bd6a"]
    ]
}, {
    "id": "429601d8.bd6a",
    "type": "node-red-contrib-httpauth",
    "z": "eb914b58.146eb8",
    "name": "",
    "file": "",
    "cred": "",
    "authType": "Basic",
    "realm": "",
    "username": "76100e8f-dae9-4e5c-b4a8-3c35234b9932",
    "password": "d11c7325-caf7-456b-b5b0-f01270c76f16",
    "hashed": false,
    "x": 253.5,
    "y": 39.35936737060547,
    "wires": [
        ["3a33be58.c5cc42"]
    ]
}, {
    "id": "3a33be58.c5cc42",
    "type": "http request",
    "z": "eb914b58.146eb8",
    "name": "cloudant",
    "method": "GET",
    "ret": "obj",
    "url": "https://3eebbd56-fe8b-4000-85e8-d292425f4fab-bluemix.cloudant.com/claims/_design/claimsPaid/_view/claim-reason?limit=100&reduce=true&group=true",
    "x": 393.5,
    "y": 40.359375,
    "wires": [
        ["30e7744d.cf188c"]
    ]
}, {
    "id": "30e7744d.cf188c",
    "type": "function",
    "z": "eb914b58.146eb8",
    "name": "decorate",
    "func": "msg.headers = {\"Content-Type\" : \"application/json\"};\n\n    var rows = msg.payload.rows;\n    var index;\n    var claims = [];\n\n\n    for (index = 0; index < rows.length; ++index) {\n        var item = rows[index];\n        var claim = {};\n        claim.claimType = item.key[0];\n        claim.state = item.key[1];\n        claim.coverageType = item.key[2];\n        claim.numberOfClaims = item.value[0];\n        claim.totalClaimsAmount = item.value[1].toFixed(2);\n        claims.push(claim);\n    }\n\n    msg.payload = claims;\n    return msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 552.5155639648438,
    "y": 39.359375,
    "wires": [
        ["17c3df4e.e83c21"]
    ]
}, {
    "id": "17c3df4e.e83c21",
    "type": "http response",
    "z": "eb914b58.146eb8",
    "name": "return result",
    "x": 724.5156402587891,
    "y": 40.359375,
    "wires": []
}, {
    "id": "82044100.7dfbc",
    "type": "node-red-contrib-httpauth",
    "z": "eb914b58.146eb8",
    "name": "",
    "file": "",
    "cred": "",
    "authType": "Basic",
    "realm": "",
    "username": "76100e8f-dae9-4e5c-b4a8-3c35234b9932",
    "password": "d11c7325-caf7-456b-b5b0-f01270c76f16",
    "hashed": false,
    "x": 246.5,
    "y": 112,
    "wires": [
        ["b40476fd.934418"]
    ]
}, {
    "id": "f39a00be.0c66",
    "type": "function",
    "z": "eb914b58.146eb8",
    "name": "get policy id",
    "func": "var customer = msg.req.query.customer;\nmsg.language = msg.req.query.language;\nmsg.payload = customer;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 322.5,
    "y": 308,
    "wires": [
        ["a6f27312.590d9"]
    ]
}, {
    "id": "a6f27312.590d9",
    "type": "cloudant in",
    "z": "eb914b58.146eb8",
    "name": "policy search",
    "cloudant": "",
    "database": "claims",
    "service": "AtkinRed-cloudantNoSQLDB",
    "search": "_idx_",
    "design": "policies",
    "index": "policySearch",
    "x": 496.5,
    "y": 306,
    "wires": [
        ["787f1f.ff8780e"]
    ]
}, {
    "id": "a6db4c3e.5924b",
    "type": "http response",
    "z": "eb914b58.146eb8",
    "name": "return result",
    "x": 1047.5,
    "y": 305,
    "wires": []
}, {
    "id": "787f1f.ff8780e",
    "type": "function",
    "z": "eb914b58.146eb8",
    "name": "extract policy",
    "func": "// extract out the object from the array\nmsg.payload = msg.payload[0];\nreturn msg;",
    "outputs": "1",
    "noerr": 0,
    "x": 675.5,
    "y": 305,
    "wires": [
        ["e40bdbf8.1bf428"]
    ]
}, {
    "id": "e40bdbf8.1bf428",
    "type": "openwhisk-action",
    "z": "eb914b58.146eb8",
    "name": "call OpenWhisk",
    "func": "",
    "namespace": "atkin@us.ibm.com_dev",
    "action": "offer",
    "params": [{
        "disabled": true
    }],
    "service": "b68b3eb8.4974c",
    "edit": false,
    "x": 865.5,
    "y": 306,
    "wires": [
        ["a6db4c3e.5924b"]
    ]
}, {
    "id": "1e8753e2.291234",
    "type": "function",
    "z": "eb914b58.146eb8",
    "name": "get policy id",
    "func": "var customer = msg.req.query.customer;\nmsg.language = msg.req.query.language;\nmsg.url = 'https://cap-sg-prd-2.integration.ibmcloud.com:15903/claims/enhancedClaimsService2/'+customer;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 319,
    "y": 364,
    "wires": [
        ["bfb0c620.366d98"]
    ]
}, {
    "id": "bfb0c620.366d98",
    "type": "http request",
    "z": "eb914b58.146eb8",
    "name": "call z/OS Connect",
    "method": "GET",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 512.5,
    "y": 362,
    "wires": [
        ["308e2784.aa9198"]
    ]
}, {
    "id": "308e2784.aa9198",
    "type": "function",
    "z": "eb914b58.146eb8",
    "name": "extract policy",
    "func": "var customer = msg.payload.ZCENCEB2OperationResponse.srv_inp_out_variables.request.customer;\nmsg.payload = msg.payload.ZCENCEB2OperationResponse.srv_inp_out_variables.customerData;\nmsg.payload.customer = customer;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 708.5,
    "y": 361,
    "wires": [
        ["1210ec61.de552c"]
    ]
}, {
    "id": "1210ec61.de552c",
    "type": "openwhisk-action",
    "z": "eb914b58.146eb8",
    "name": "call OpenWhisk",
    "func": "",
    "namespace": "atkin@us.ibm.com_dev",
    "action": "offer",
    "service": "b68b3eb8.4974c",
    "edit": false,
    "x": 900,
    "y": 361,
    "wires": [
        ["1eeb62ef.2e5fed"]
    ]
}, {
    "id": "1eeb62ef.2e5fed",
    "type": "http response",
    "z": "eb914b58.146eb8",
    "name": "return result",
    "x": 1087.5,
    "y": 355,
    "wires": []
}, {
    "id": "ef8c95f1.c4c4b",
    "type": "function",
    "z": "eb914b58.146eb8",
    "name": "get policy id",
    "func": "var customer = msg.req.query.customer;\nmsg.language = msg.req.query.language;\nmsg.url = 'https://cap-sg-prd-4.integration.ibmcloud.com:17293/claimsshare/enhancedClaimsService2/'+customer;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 324,
    "y": 425,
    "wires": [
        ["3f883ed4.00a12a"]
    ]
}, {
    "id": "3f883ed4.00a12a",
    "type": "http request",
    "z": "eb914b58.146eb8",
    "name": "call z/OS Connect",
    "method": "GET",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 510.5,
    "y": 425,
    "wires": [
        ["492bbcb0.45283c"]
    ]
}, {
    "id": "492bbcb0.45283c",
    "type": "function",
    "z": "eb914b58.146eb8",
    "name": "extract policy",
    "func": "var customer = msg.payload.ZCENCEB2OperationResponse.srv_inp_out_variables.request.customer;\nmsg.payload = msg.payload.ZCENCEB2OperationResponse.srv_inp_out_variables.customerData;\nmsg.payload.customer = customer;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 705.5,
    "y": 424,
    "wires": [
        ["e38d813e.079f78"]
    ]
}, {
    "id": "e38d813e.079f78",
    "type": "openwhisk-action",
    "z": "eb914b58.146eb8",
    "name": "call OpenWhisk",
    "func": "",
    "namespace": "atkin@us.ibm.com_dev",
    "action": "offer",
    "service": "b68b3eb8.4974c",
    "edit": false,
    "x": 895,
    "y": 425,
    "wires": [
        ["7997bcd4.76483c"]
    ]
}, {
    "id": "7997bcd4.76483c",
    "type": "http response",
    "z": "eb914b58.146eb8",
    "name": "return result",
    "x": 1087.5,
    "y": 422,
    "wires": []
}, {
    "id": "c50f04b0.d6a678",
    "type": "function",
    "z": "eb914b58.146eb8",
    "name": "get policy id",
    "func": "var customer = msg.req.query.customer;\nmsg.language = msg.req.query.language;\nmsg.url = 'https://cap-sg-prd-1.integration.ibmcloud.com:16735/claims/ClaimsLatin1/'+customer;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 310,
    "y": 596,
    "wires": [
        ["331aed1.da31392"]
    ]
}, {
    "id": "331aed1.da31392",
    "type": "http request",
    "z": "eb914b58.146eb8",
    "name": "call z/OS Connect",
    "method": "GET",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 505.5,
    "y": 593,
    "wires": [
        ["5f67f470.a57454"]
    ]
}, {
    "id": "5f67f470.a57454",
    "type": "function",
    "z": "eb914b58.146eb8",
    "name": "extract policy",
    "func": "var customer = msg.payload.ZCCLLAT1OperationResponse.srv_inp_out_variables.request.customer;\nmsg.payload = msg.payload.ZCCLLAT1OperationResponse.srv_inp_out_variables.customerData;\nmsg.payload.customer = customer;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 701.5,
    "y": 590,
    "wires": [
        ["72deaafc.f92c2c"]
    ]
}, {
    "id": "72deaafc.f92c2c",
    "type": "openwhisk-action",
    "z": "eb914b58.146eb8",
    "name": "call OpenWhisk",
    "func": "",
    "namespace": "atkin@us.ibm.com_dev",
    "action": "offer",
    "service": "b68b3eb8.4974c",
    "edit": false,
    "x": 893,
    "y": 587,
    "wires": [
        ["3c9cb4a9.1e5a84"]
    ]
}, {
    "id": "3c9cb4a9.1e5a84",
    "type": "http response",
    "z": "eb914b58.146eb8",
    "name": "return result",
    "x": 1075.5,
    "y": 585,
    "wires": []
}, {
    "id": "f840b25.b9c3a5",
    "type": "function",
    "z": "eb914b58.146eb8",
    "name": "get policy id",
    "func": "var customer = msg.req.query.customer;\nmsg.language = msg.req.query.language;\nmsg.url = 'http://cap-sg-prd-1.integration.ibmcloud.com:15807/web/services/customer/'+customer;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 314,
    "y": 478,
    "wires": [
        ["f135d090.41e1b8"]
    ]
}, {
    "id": "f135d090.41e1b8",
    "type": "http request",
    "z": "eb914b58.146eb8",
    "name": "call iSeries REST API",
    "method": "GET",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 521.5,
    "y": 507,
    "wires": [
        ["5400b346.cb6654"]
    ]
}, {
    "id": "5400b346.cb6654",
    "type": "function",
    "z": "eb914b58.146eb8",
    "name": "extract policy",
    "func": "var customer = msg.payload.customers;\n//msg.payload = msg.payload.ZCENCEB2OperationResponse.srv_inp_out_variables.customerData;\nmsg.payload = customer;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 729.5,
    "y": 507,
    "wires": [
        ["bbffba03.8c9ed"]
    ]
}, {
    "id": "bbffba03.8c9ed",
    "type": "openwhisk-action",
    "z": "eb914b58.146eb8",
    "name": "call OpenWhisk",
    "func": "",
    "namespace": "atkin@us.ibm.com_dev",
    "action": "offer",
    "service": "b68b3eb8.4974c",
    "edit": false,
    "x": 917,
    "y": 506,
    "wires": [
        ["6eed8740.6fbc08"]
    ]
}, {
    "id": "6eed8740.6fbc08",
    "type": "http response",
    "z": "eb914b58.146eb8",
    "name": "return result",
    "x": 1098.5,
    "y": 506,
    "wires": []
}, {
    "id": "76805707.548ac",
    "type": "http in",
    "z": "eb914b58.146eb8",
    "name": "Get policy",
    "url": "/insurance/policy",
    "method": "get",
    "swaggerDoc": "",
    "x": 90.5,
    "y": 113,
    "wires": [
        ["82044100.7dfbc"]
    ]
}, {
    "id": "b40476fd.934418",
    "type": "change",
    "z": "eb914b58.146eb8",
    "name": "Set internal route",
    "rules": [{
        "t": "set",
        "p": "route",
        "pt": "flow",
        "to": "torolab",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 429,
    "y": 112,
    "wires": [
        ["4f46a33a.f367f4"]
    ]
}, {
    "id": "4f46a33a.f367f4",
    "type": "switch",
    "z": "eb914b58.146eb8",
    "name": "Select route",
    "property": "route",
    "propertyType": "flow",
    "rules": [{
        "t": "eq",
        "v": "cloudant",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "torolab",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "mvs1",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "rochester",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "taipei",
        "vt": "str"
    }],
    "checkall": "false",
    "outputs": 5,
    "x": 113,
    "y": 427,
    "wires": [
        ["f39a00be.0c66"],
        ["1e8753e2.291234"],
        ["ef8c95f1.c4c4b"],
        ["f840b25.b9c3a5"],
        ["c50f04b0.d6a678"]
    ]
}, {
    "id": "b68b3eb8.4974c",
    "type": "openwhisk-service",
    "z": "eb914b58.146eb8",
    "name": "Bluemix",
    "api": "https://openwhisk.ng.bluemix.net/api/v1"
}]